$background-color: #f5f7f7;
$text-color: #202628;
$muted-text-color: #6f7b80;

$primary-color: #3aaec2;
$link-color: #2f9db0;

$success-color: #35bfa7;
$warning-color: #d79b35;
$danger-color: #d86666;
$info-color: #6aaee8;

$border-color: rgba(32,38,40,.11);

$code-background-color: #e9eff0;
$table-background-color: #edf2f3;