$background-color: #7a7476;
$text-color: #ffffff;
// subtitle, caption 등에 사용
$muted-text-color: #d8cfd4;

// button, link active color
$primary-color: #ff93b3;
// link color
$link-color: $primary-color;

// notice box colors
$success-color: #8ef5e0;
$warning-color: #ffd166;
$danger-color: #ff6b6b;
$info-color: #a0c4ff;

// borders, dividers, hr 등
$border-color: rgba(255,255,255,.08);
$code-background-color: #2b1b24;
$table-background-color: #2b1b24;
