/* kawaii skin */
$background-color: #fffafc;
$text-color: #ffffff;
$muted-text-color: #cbcbda;

$primary-color: #ff93b3;     // 포인트 핑크
$link-color: $primary-color;

$success-color: #80d0c7;
$warning-color: #ffd166;
$danger-color:  #ff6b6b;
$info-color:    #a0c4ff;

$border-color: rgba(0,0,0,.06);
$code-background-color: #fff0f5;  // 라벤더블러시
$table-background-color: #ffffff;
